<!DOCTYPE html>
<html>
<head>
    <title>Warhammer Store</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
</head>
<body>
    <div class="header">
        <h1>🛡️ Warhammer Store</h1>
        <nav>
            <a href="{% url 'product_list' %}" style="color: white;">Главная</a> |
            <a href="{% url 'cart_detail' %}" style="color: white;">Корзина</a>
        </nav>
    </div>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>